{% extends 'base.html' %}

{% block contenido_cuerpo %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="reset-card">
        <h2>Restablecer Contraseña</h2>
        <form method="post">
            <div class="messages">
                {% for message in messages %}
                    <div class="alert" role="alert">{{ message }}</div>
                {% endfor %}
            </div>
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-success btn-lg px-3 w-100">Enviar Correo Electrónico</button>
        </form>
    </div>
</div>
{% endblock %}